<footer class="footer">
  <small>CeSPI</small>
  <nav>
    <ul>
      <li><%= link_to "About", 'http://www.cespi.unlp.edu.ar/' %></li>
      <li><%= link_to "Contact", 'http://www.cespi.unlp.edu.ar/Contacto' %></li>
    </ul>
  </nav>
</footer>