<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to "Responsabilidades CeSPI", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Questions", questions_path %></li>
          <li><%= link_to "Questionnaires", questionnaires_path %></li>
          <li><%= link_to "Users", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>